<h2><%=@restaurant.name%></h2>
<p>Address: <%= @restaurant.address %></p>
<p>Phone: <%= @restaurant.phone_number %></p>
<p>Category: <%= @restaurant.category %></p>

<h4>Reviews</h4>
<ul class="list-group">
  <% @restaurant.reviews.each do |review| %>
    <li class="list-group-item">Rating:<%= review.rating %>
                                Review: <%= review.content %> </li>
  <% end %>
</ul>
<br>
<%= link_to "Add Review", new_restaurant_review_path(@restaurant)%>

<br>
<%= link_to "Edit Restaurant", edit_restaurant_path%>
<br>
<%= link_to "Back", restaurants_path%>
